html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  vertical-align: middle;
  height: 200px;
  line-height: 200px;
  color: white;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  height: 100%;
}

.status {
  padding-top: 200px;
  font-size: 10em;
  color: white;
}

.occupied {
  background-color: red;
  color: white;
}

.unoccupied {
  background-color: green;
  color: white;
}
